@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
:root {
  --bg-color: rgb(255, 255, 255);
  --alt-bg-color: #f1f0dbaa;
  --primary-color: #95b8d1;
  --alt-primary-color: #c5dca0;
  --secondary-color: #666a86;
  --tertiary-color: #333333;
  --site-font: "Inter";
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(20, 20, 20);
    --primary-color: #5e7a92;
    --alt-primary-color: #3a4b35;
    --secondary-color: #c0c2c8;
    --tertiary-color: #f0f0f0;
  }
}
